/* CSS Document */
html {
    overflow-x: hidden;
}

img {
    border: none;
}

.color-picker {
    position: relative;
    margin-left: 5px;
}

/* Div */
.titulo-conteudo-interno img {
    margin: 0 6px 0 0;
    vertical-align: -2px;
}

.titulo-conteudo-interno {
    width: 100%;
    height: auto;
    font-size: 0.85em;
    color: #444;
    margin-bottom: 30px;
}

.titulo-conteudo-interno, .container-tool, .line, .line-dark, .flutuante, .botoes-frame, .btn-upload, .arquivo, .btn-standard {
    margin-left: 16px;
}

.container-tool {
    width: auto;
    height: auto;
    margin-bottom: 17px;
}

.line {
    width: 144px;
    height: auto;
    background: url(../images/f_bg_line1.gif) repeat-x top left;
}

.line-dark {
    width: 144px;
    height: auto;
    background: url(../images/f_bg_line3.gif) repeat-x top left;
}

.bg {
    width: 188px;
    height: auto;
    background: #ddd;
}

.sombra-top {
    width: 100%;
    height: auto;
    margin-top: 30px;
    background: #ccc url(../images/sombra-top.png) repeat-x top left;
}

.sombra-bottom {
    width: 100%;
    height: auto;
    margin-bottom: 17px;
    background: url(../images/sombra-bottom.png) repeat-x top left;
}

.arquivo {
    font-size: 0.7em;
    color: #666666;
    font-weight: normal;
    margin-bottom: 1px;
}
/* Class */
.normal, .negrito, .largura, .altura, .drible, .flutuante-1, .flutuante-2, .pequena {
    font-style: normal;
    color: #666666;
}

.normal {
    font-size: 0.75em;
    font-weight: normal;
}

.negrito {
    font-size: 0.8em;
    font-weight: bold;
}

.pequena {
    font-size: 0.7em;
}

    .pequena p {
        margin-top: 0;
        margin-bottom: 0px;
    }

.drible {
    font-style: normal;
    font-size: 0.8em;
}

.flutuante-1 {
    font-size: 0.7em;
    float: left;
    margin-right: 21px;
}

.flutuante-2 {
    font-size: 0.7em;
    display: block;
}
.container-tool .margem-1 { margin-left: 200px; }
    .flutuante-1 p, .flutuante-2 p {
        margin-top: 0;
        margin-bottom: 6px;
    }

.dropdown-ordem {
    width: 135px;
}
/* Botões Efeitos & Avançado */
.botoes-frame, .botoes-frame * {
    padding: 0;
}

.botoes-frame {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 17px;
    list-style: none;
    font-size: 0.7em;
    font-weight: bold;
    float: left;
    border-top: 1px solid #C8C9CA;
    border-right: 1px solid #C8C9CA;
    border-bottom: 1px solid #aeaeae;
    border-left: 1px solid #C8C9CA;
    border-radius: 0.2em;
    z-index: 1;
}

.botoes-frame li {
    float: left;
}

.botoes-frame li a {
    display: block;
    padding: 6px 9px 5px 9px;
           
}

.botoes-frame li a:hover {
    color: #333;
    text-decoration: none;
    background: #ececec;          
}

    .botoes-frame .linkNormal {
        background: #f5f5f5;
        text-decoration: none;
        color: #666666;
    }

    .botoes-frame .linkAtivo {
        background: #ddd !important;
        text-decoration: none;
        color: #333;
        cursor: default;
        -moz-box-shadow: inset 1px 1px 6px 0px #a0a0a0;
        -webkit-box-shadow: inset 1px 1px 6px 0px #a0a0a0;
        box-shadow: inset 1px 1px 6px 0px #a0a0a0;
    }
    .botoes-frame li a.ajuste {
        border-right: 1px solid #9E9E9E;
        border-left: 0px solid #C8C9CA;
        }

        .btn  {
                color: #fff;
                border: 1px solid #fff;
                padding: 9px 20px 7px 20px;
                margin-bottom: 19px;
                text-decoration: none;
                position: relative;
                font-size: 12px;
                font-weight: normal;
                display: inline-block;
                border-radius: 0.4em;
                background-color: #16a53f;
            }
            .other { background-color: #666666; padding: 9px 40px 7px 40px; }
            .btn:hover  {
               background-color: transparent;
            }
            .other:hover  {
               background-color: #555;
            }

/* Botão standard */
.btn-standard {
    background: #fff url('../images/f_back_efeitos1.png') repeat-x top left;
    border: 1px solid #9E9E9E;
    color: #666666;
    padding: 4px 15px;
    margin-bottom: 19px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    border-radius: 0.4em;
}
/* Botão Upload imagem */
.btn-upload {
    position: relative;
    width: 133px;
    display: inline-block;
    color: #0078d7;
    font-size: 0.75em;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 9px;
    border-radius: 0.2em;
    border: 1px solid #0078d7;
    background-color: #fff;
    }

    .btn-upload input {
        position: absolute;
        -moz-opacity: 0.0;
        filter: alpha(opacity=0);
        opacity: 0.0;
        font-size: 20px;
        margin: 0;
        top: 0;
        right: 0;
        cursor: pointer;
    }


.logical-name {
    color: #666666;
    display: inline-block;
    padding: 0px;
    font-size: 10px;
    font-style: italic;
    width: 110px;
    height: 12px;
    margin-top: 5px;
    border: 0px solid #888888;
    background-color: transparent;
}

    .logical-name span {
        display: inline-block;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

.invalid-file {
    background-color: white;
    padding: 5px;
    border: 1px solid red;
    width: 145px;
}

.inputs {
    color: #333;
    font-size: 0.8em;
    font-weight: normal;
}

.btn-delete {
    padding: 3px;
    cursor: pointer;
}

/* LINK desfazer */
.link2normal {
    color: #666666;
    text-decoration: underline;
    font-size: 0.7em;
}

/* EFEITOS */
.effects {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px solid #999;
}

    .effects img {
        border: none;
    }

    .effects ul {
        position: relative;
        list-style: none;
        padding: 0px;
    }

    .effects li a {
        display: block;
        text-decoration: none;
        margin-top: 20px;
        margin-right: 43px;
        margin-left: 43px;
        position: relative;
    }

    .effects .effect {
        background-repeat: repeat;
        background-position: top left;
    }

    .effects .normal {
        text-decoration: none;
        border: 2px solid #999;
    }

        .effects .normal:hover {
            text-decoration: none;
            border: 2px solid #036ae8;
        }

    .effects .selected {
        text-decoration: none;
        border: 2px solid #fae738;
    }

        .effects .selected:hover {
            text-decoration: none;
            border: 2px solid #fae738;
        }

/* box de preenchimento (conteudo página internas: contato, social, mapa) */

.form-text1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    color: #999;
    width: 140px;
    height: auto;
    padding: 1px 3px;
    border: 1px solid #666666;
}
/* icone ajuda (conteudo página internas: contato, social, mapa) */
.icon-ajuda {
    vertical-align: -2px;
    margin-left: 7px;
}

/* COPIAR E MOVER JUNTO */
.cont-conteudo {
    width: 139px;
    height: auto;
    margin-left: 18px;
}
.linha {background: url('../images/bg_line4.gif') repeat-x center;}
.ou {
    width: auto;
    display: inline-block;
    color: #666;
    font-weight: normal;
    font-size: 13px;
    padding: 0px 9px 1px 9px;
    background: #fff;
}
.cont-conteudo img {
vertical-align: -5px;
margin-right: 9px;
opacity: 0.6;
filter: alpha(opacity=60);
}
.cont-conteudo p {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 38px;
}
/* BOTÃO COMBO */
            .btn-combo img { margin-left: 3px; vertical-align: -1px;}
            .btn-combo .float { float: left; font-style: normal; cursor: pointer;}
            .btn-combo {
                position: relative;
                width: 139px;
                height: auto;
                display: inline-block;
                text-align: right;
                margin-top: 10px;
                margin-bottom: 0px;
                margin-left: 18px;
                /*background: #fff url('../images/f_back_efeitos1.png') repeat-x top left;*/
                }
            .btn-combo a {
                color: #333;
                font-size: 0.8em;
                font-weight: normal;
                text-decoration: none;
                display: block;
                padding: 5px 9px 2px 11px;
                border-radius: 3px;
                border-top: 1px solid #C8C9CA;
                border-right: 1px solid #9E9E9E;
                border-bottom: 1px solid #9E9E9E;
                border-left: 1px solid #9E9E9E;
            }
            .btn-combo a:hover {
                  color: #333;
                  text-decoration: none;
            }
            .btn-combo a:active {
                 /*background: #fff url('../images/f_back_efeitos2.png') repeat-x top left;*/
                 text-decoration: none;
                 color: #000;
            
