/* CSS Document */
body {
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	text-align: center;
	background-color: #F1F1F1;
	padding: 0;
	margin: 0;
}
img {
	border: none;
}
/* xxxxxxxxxxxxxxxxx */
#cont-pagina, #cont, #cont-rodape, #estrutura {
	background-color: transparent;
	margin: 0 auto;
	position: relative;
	width: 905px;
	height: auto;
}
/* xxxxxxxxxxxxxxxxx */
#cont-pagina {
	margin-top: 20px;
	z-index: 2;
}
#cont {
	z-index: 1;
}
#cont-rodape {
	z-index: 3;
}
#estrutura {
	display: table;
}
#topo {
	background: #3d6dbe url(images/back_topo.gif) repeat-x top left;
	float: left;
	position: relative;
	width: 100%;
	height: 74px;
	z-index: 0;
}
#logo {
	background-color: transparent;
	display: block;
	position: absolute;
	top: 0px;
	left: 8px;
}
h3 p { font-size: 0.65em; font-weight: normal; font-style: italic; color: #D4DCEF; margin-top: -2px; margin-bottom: 0px; }
h3 {
	color: #fff;
	text-align: right;
	font-size: 1.05em;
	margin: 0 auto;
	position: absolute;
	top: 25px;
	left: 725px;
	width: auto;
	height: auto;
	font-family: Arial, Helvetica, sans-serif; 
	}
#detali  {
    position: absolute;
	top: 24px;
	left: 618px;
	width: auto;
	height: auto;
	display: none;
}
#texto-2 {
	color: #fff;
	text-align: left;
	font-size: 0.6em;
	font-weight: bold;
	position: absolute;
	top: 21px;
	left: 640px;
	width: auto;
	height: auto;
	display: none;
}
#bot, #bot * {
	margin: 0;
	padding: 0;
}
#bot {
	position: relative;
	width: 100%;
	height: 30px;
	list-style: none;
	float: right;
	font-size: 0.8em;
	font-weight: normal;
	background-color: transparent;
	display: none;
}
#bot li {
	float: right;
}
#bot li a {
	display: block;
	text-decoration: none;
	color: #0066CC;
	padding-top: 0;
	padding-right: 11px;
	padding-bottom: 0;
	padding-left: 11px;
	margin-top: 9px;
	margin-right: 0;
	margin-bottom: 9px;
	margin-left: 0;
	border-right: 1px solid #000;
	background-color: transparent;
}
#bot li a:hover, #bot li a:active {
	color: #0066CC;
	text-decoration: underline;
}
#bot li a.ajuste {
	margin-right: 10px;
	border-right: 0px solid #000;
}
#linha-1 {
	position: absolute;
	border-top: 0px solid #000;
	border-left: 1px solid #D6D6D6;
	top: 0px;
	left: 183px;
	width: 0px;
	height: 100%;
	z-index: 1;
}
#nav, #nav * {
	margin: 0;
	padding: 0;
}
#nav {
	position: absolute;
	top: 13px;
	left: 24px;
	width: 153px;
	height: auto;
	list-style: none;
	text-align: left;
	font-size: 0.8em;
	font-weight: normal;
	border-right: 0px solid #000;
	}
#nav li a {
	display: block;
	text-decoration: none;
	color: #000;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 14px;
	margin-left: 0;
	background-color: transparent;
}
#nav li a:hover {
	text-decoration: underline;
}
#nav li a.margem {
	margin-top: 24px;
}
#nav li a.especial, #nav li a:hover.especial {
	text-decoration: none;
	cursor: default;
	margin-top: 24px;
	margin-bottom: 10px;
	color: #599BDE;
	font-weight: bold;
}
/* Holly hack */
/*\*/
* html #nav ul li {
	float: left;
}
* html #nav li a {
	height: 1%;
}
/* */
h1 {
	text-align: left;
	font-weight: bold;
	font-size: 1.5em;
	color: #000;
	margin: 0 auto;
	position: absolute;
	top: 50px;
	left: 240px;
}
#rodape p { color: #555; font-weight: bold; margin-bottom: 0px; margin-top: 3px; }
#rodape {
	background-color: transparent;
	color: #000;
	font-size: 0.7em;
	text-align: center;
	position: relative;
	width: 905px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 0.5em;
	padding-bottom: 0.9em;
}
#texto-4 a:link {
	color: #176280;
	text-decoration: underline;
}
#texto-4 a:visited {
	color: #176280;
	text-decoration: underline;
}
#texto-4 a:hover {
	color: #176280;
	text-decoration: underline;
}
#texto-4 {
	text-align: center;
	font-size: 0.8em;
	color: #f1f1f1;
	font-weight: normal;
	position: relative;
	width: auto;
	height: auto;
	}