<div class="content-editor contact-form-editor animated">
    <div class="container-tool bottom-titulo top-33">
        <i class="negrito" translate>E-mail</i>
        <a href="#">
            <img class="icon-ajuda" src="../images/icon_ajuda1.png" data-dropdown="#jq-dropdown-5" alt="" title="" />
        </a>
    </div>
    <div class="container-tool bottom-20">
        <input type="text" class="form-text1" placeholder="{{'Escreva aqui...'|translate}}" ng-model="data.MailTo" />
        <div class="invalid-mail erro" ng-show="!IsEmailValid(data.MailTo);" translate>E-mail inválido!</div>
    </div>
    <div class="container-tool bottom-titulo">
        <i class="negrito" translate>Personalizar</i>
    </div>
    <div class="container-tool bottom-15">
        <select ng-model="SelectedPart" ng-change="OnSelectedPartChange();">
            <option value="BorderColor" translate>Contorno</option>
            <option value="BackgroundColor" translate>Fundo</option>
            <option value="TextColor" translate>Texto</option>
            <option value="TextToWriteColor" translate>Texto a escrever</option>
        </select>
    </div>
    <div class="container-tool bottom-22">
        <spectrum-colorpicker class="color-picker" ng-model="SelectedColor" options="ColorPickerConfig"></spectrum-colorpicker>
    </div>
    <div class="container-tool animated fadeInDown" ng-show="Undoable">
        <img src="../images/icon_desfazer.png" alt="" title="" />
        <a href="" class="link2normal" ng-click="Undo();" translate>Desfazer</a>
    </div>
    <wj-zindex state="zindex"></wj-zindex>
    <wj-ok-cancel data="data" event-ok="OnContentCommit" event-cancel="OnContentRollback"></wj-ok-cancel>
</div>
